<p id="notice"><%= notice %></p>

<h1>All Blog Posts</h1>



 
    <% @posts.each do |post| %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="paenl-title"><%= post.title %></h3>
  </div>
  <div class="panel-body">
    By...
    <%= post.user.username %>
    <br><br>
    <%= post.blog_entry %>
    <br><br>
  <button class="btn btn-success"><%= link_to 'Show', post %></button>
  <button class="btn btn-warning"><%= link_to 'Edit', edit_post_path(post) %></button>
  <button class="btn btn-danger"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
</div>         
    <% end %>


<br>

<button class="btn btn-success"><%= link_to 'New Post', new_post_path %></button>
